:root {
    /* General */
    --primary-accent: #5db34f;
    --secondary-accent: #28743b;
    --tertiary-accent: #9cd432;

    /* Backgrounds */
    --main-bg-color: #f5f9f5;
    --nav-bg-color: #204729;
    --footer-bg-color: #1b3923;
    --input-field-bg: #eaf5e9;

    /* Text colors */
    --primary-text-color: #333333;
    --secondary-text-color: #666666;
    --light-text-color: #ffffff;
    --main-text-color: #a99c54;
    --sup-text-color: #af9e3c;

    /* Borders and Dividers */
    --border-color: #d6e4d6;
    --border-orange: rgb(204, 137, 11);

    /* Notifications / Highlights */
    --error-warning: #d9534f;
    --success-highlight: #3c763d;

    --button-color: #5db34f;
    --button-hover: #28743b;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.about_container {
    width: 100%;
}

.about_container .about_section1 {
    max-width: 100%;
    position: relative;
}

.about_container .about_section1 img {
    width: 100%;
    height: 100vh;
}

.about_container .about_section1 h1 {
    color: var(--light-text-color);
    font-size: 80px;
    position: absolute;
    top: 50%;
    right: 35%;
    font-weight: 900;
    text-shadow: 8px 6px #333333;
}

.about_section2 { 
    /* text-align: center; */
    padding: 15px 10px;
    background: var(--nav-bg-color);
    color: var(--light-text-color);
    margin-top: -3px;
}

.about_section2 h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 41px;
    margin-bottom: 2px  ;
}

.about_section2 > p {
    text-align: center;
    font-size: 20px;
}

.offerings {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}

.offerings p:nth-child(2) {
    font-weight: 600;
}

.offer_icon {
   font-size: 80px;
   text-align: center;
   cursor: pointer ;
   transition: 0.5s;
}

.about_section3 {
    width: 70%;
    margin: auto;
}

.content {
    display: flex;
}

.content .content_image {
    width: 200px;
    height: 200px;
}