:root {
    /* General */
    --primary-accent: #5db34f;
    --secondary-accent: #28743b;
    --tertiary-accent: #9cd432;

    /* Backgrounds */
    --main-bg-color: #f5f9f5;
    --nav-bg-color: #204729;
    --nav-bg-color-light: #275833;
    --nav-bg-color-dark: #1d3f25;
    --footer-bg-color: #1b3923;
    --input-field-bg: #eaf5e9;

    /* Text colors */
    --primary-text-color: #333333;
    --secondary-text-color: #666666;
    --light-text: #ffffff;

    /* Borders and Dividers */
    --border-color: #d6e4d6;
    --border-orange: rgb(204, 137, 11);

    /* Notifications / Highlights */
    --error-warning: #d9534f;
    --success-highlight: #3c763d;

    --button-color: #5db34f;
    --button-hover: #28743b;
}



.cart_container {
    width: 100%;
    background: var(--nav-bg-color);
    padding: 0;
    color: var(--light-text);
    margin-top: 220px;
    /* padding-bottom: 50px; */
}

.return_link {
    color: var(--light-text);
    text-decoration: none;
}