@import 'root.css';

.login_container {
    width: 100%;
    background: var(--nav-bg-color);
    padding: 0;
    color: var(--light-text);
    margin-top: 220px;
    padding-bottom: 50px;
}


.signIn_form {
    margin: auto;
    width: 50%;
    padding: 2rem 0;
    font-size: 18px;
    text-align: center;
}

.signIn_form input {
    width: 60%;
    height: 40px;
    margin: 5px 0;
    border: 1px solid var(--button-hover);
    border-radius: 4px;
    padding: 4px 15px;
    color: var(--primary-text-color );
}

.signIn_form button {
    padding: 12px 3rem;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    color: var(--light-text-color);
    cursor: pointer;
    transition: 0.5s;
}

.signIn_form button:hover {
    background-color: var(--button-hover);
}

.signIn_form form label span {
    color: var(--error-warning);
}


.signIn_form .form_text {
    width: 60%;
    margin: auto;
}

.signIn_form .login_text {
    margin-top: 20px;
}

.signIn_form .login_text span .login {
    color: var(--primary-text-color);
    color: var(--error-warning);
    font-weight: 600;
}

.error_message {
    color: var(--error-warning);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}