:root {
    /* General */
    --primary-accent: #5db34f;
    --secondary-accent: #28743b;
    --tertiary-accent: #9cd432;

    /* Backgrounds */
    --main-bg-color: #f5f9f5;
    --nav-bg-color: #204729;
    --footer-bg-color: #1b3923;
    --input-field-bg: #eaf5e9;

    /* Text colors */
    --primary-text-color: #333333;
    --secondary-text-color: #666666;
    --light-text: #ffffff;

    /* Borders and Dividers */
    --border-color: #d6e4d6;
    --border-orange: rgb(204, 137, 11);

    /* Notifications / Highlights */
    --error-warning: #d9534f;
    --success-highlight: #3c763d;

    --button-color: #5db34f;
    --button-hover: #28743b;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.nav_container {
    width: 100%;
    background: var(--nav-bg-color);
    padding: 0 10px;
    position: fixed; 
    z-index: 1000; 
    margin-bottom: 80px;
    top: 0;
    left: 0;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
}

.nav_container .nav_top {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -40px 0;
}

.logo img {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-right: -50px;
    /* margin-top: -50px; */
}

.search_box {
    display: flex;
    align-items: center;
}

.search_box input {
    width: 30rem;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 10px;
    background: var(--input-field-bg)

}

.search_box button {
    padding: 8px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.search_box button:hover {
    background: var(--button-hover);
}

.cart_btn button {
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    background-color: var(--nav-bg-color);
    cursor: pointer;
    transition: 0.5s;
    /* color: var(--primary-accent); */
    color: var(--light-text);
    font-size: 23px;
    display: flex;
    align-items: center;
}

.cart_btn button .cart_icon {
    font-size: 23px;
    margin-right: 5px;
}

.cart_btn button:hover {
    background: var(--nav-bg-color);
    color: var(--primary-accent);
}

.nav_top_right {
    display: flex;
    align-items: center;
}

.nav_top_right .cart_btn .cart_link {
    text-decoration: none;
}

.account button {
    padding: 10px 20px;
    /* margin-right: 20px; */
    font-size: 20px;
    border: none;
    background-color: var(--nav-bg-color);
    cursor: pointer;
    transition: 0.5s;
    color: var(--light-text);
    display: flex;
    align-items: center;
}

.account button:hover {
    background: var(--nav-bg-color);
    color: var(--primary-accent);
}

.account_icon {
    font-size: 28px;
    margin-right: 5px;
}

.nav_bottom ul {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}

.nav_bottom ul li {
    list-style: none;
}

.nav_bottom ul li .link {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-accent);
    transition: 0.5s;
}

.nav_bottom ul li .link:hover {
    color: var(--tertiary-accent);
    font-weight: 700;
}

.nav_bottom {
    border-bottom: 2px solid var(--border-orange);
}